.leaflet-map {
  font-family: monospace;
  font-size: 12px;
  overflow: auto;
}

.map-container {
  height: 480px;
  width: 100%;
}

.marker-cluster {
  width: 24px;
  height: 24px;
  border: 1px solid #636c7d;
  border-radius: 50%;
  background-color: #2966cf;
  color: #eee;
  text-align: center;
  padding: 5px;
}

.location-info {
  max-width: 180px;
  overflow: auto;
}

.geo-json {
  max-height: 360px;
  overflow: auto;
  tab-size: 2;
  white-space: pre-wrap;
}
