.leaflet-map {
  font-family: monospace;
  font-size: 12px;
  overflow: auto;
}

.map-container {
  height: 480px;
  width: 100%;
}

.marker-cluster {
  width: 24px;
  height: 24px;
  border: 1px solid #636c7d;
  border-radius: 50%;
  background-color: #2966cf;
  color: #eee;
  text-align: center;
  padding: 5px;
}

.map-popup {
  height: 180px;
  overflow: auto;
}

.location-info {
  border-collapse: collapse !important;
  display: inline-table !important;
}

.location-info td {
  border: 1px solid #ccc !important;
}

.location-info-tooltip {
  max-height: 84px;
  overflow-y: hidden;
}

.text-output {
  background-color: var(--vscode-editor-background);
  border: 1px solid var(--vscode-panel-border);
  font-family: var(--vscode-editor-font-family);
  font-size: var(--vscode-editor-font-size);
  margin-top: 0px;
  max-height: 360px;
  overflow: auto;
  tab-size: 2;
  white-space: pre-wrap;
  padding: 10px;
}

.text-output code {
  color: var(--vscode-editor-foreground) !important;
}
