.leaflet-map {
  font-family: monospace;
  font-size: 12px;
  overflow: auto;
}

.map-container {
  height: 480px;
  width: 100%;
}

.geo-json {
  max-height: 360px;
  overflow: auto;
  tab-size: 2;
  white-space: pre-wrap;
}
